Repository phoenix-kurly/phoenix-kurly, pull requests merged in 2023-02, with the labels that each got.

#8 [생성] 상품리스트 html 작성 #7
  client/assets/icons/Cart.svg
  index.html
  product-list.css
  product-list.html
Labels: 🎨Html&css, 🥰Accessibility

#10 [수정] 페이지 이동 버튼 추가 및 수정 #9
  client/assets/icons/Icon/per-per.svg
  client/assets/icons/Icon/per.svg
  product-list.css
  product-list.html
Labels: 🎨Html&css

#15 [생성] 로그인 페이지 CSS 작업 #6
  css/fontello.css
  css/module.css
  login/login.css
  login/login.html
Labels: 🎨Html&css

#17 [생성] header, footer 마크업 및 스타일 생성 #16
  client/assets/icons/Category.png
  client/assets/icons/Icon/Icon-down-1.png
  client/assets/icons/Icon/Logo-isms.png
  client/assets/icons/Icon/Logo-isms.png:Zone.Identifier
  client/assets/icons/Icon/Logo-privacy.png
  client/assets/icons/Icon/Logo-privacy.png:Zone.Identifier
  client/assets/icons/Icon/Logo-tosspayments.png
  client/assets/icons/Icon/Logo-tosspayments.png:Zone.Identifier
  client/assets/icons/Icon/Logo-wooriBank.png
  client/assets/icons/Icon/Logo-wooriBank.png:Zone.Identifier
  client/assets/icons/Icon/Logo.png
  client/assets/icons/Icon/New-1.png
  css/.prettierrc
  css/footer.css
  css/header.css
  css/module.css
  css/style.css
  index.html
Labels: 🎨Html&css, 🥰Accessibility

#22 [생성] productDetail 마크업,스타일링 생성 및 작업 #18 #19
  .github/ISSUE_TEMPLATE/👋schedule
  client/assets/images/goods_point.png
  client/assets/images/goods_view.png
  client/assets/images/product_detail.png
  css/module.css
  css/productDetail.css
  css/style.css
  product-list.css
  product-list.html
  productDetail.html
Labels: 🎨Html&css

#13 [수정] 회원가입 페이지 마크업 수정 및 css 추가 #6
  css/fontello.css
  css/module.css
  register/register.css
  register/register.html
Labels: 🎨Html&css, 🥰Accessibility

#26 [수정] 스타일 적용에 따른 html, css파일 수정 #25
  client/assets/icons/Icon/New-1.svg
  client/assets/icons/Icon/New-1.svg:Zone.Identifier
  css/header.css
  index.html
Labels: 🎨Html&css

#40 [23.02.04] 상품 상세페이지 마크업, 스타일링 수정 #39
  client/assets/icons/Icon/Bell.png
  client/assets/icons/Icon/Heart.png
  css/productDetail.css
  productDetail.html
Labels: 🎨Html&css

#41 [수정] 푸터 영역 마크업 수정 및 CSS 작업 완성 #38
  css/fontello.css
  css/footer.css
  css/module.css
  css/style.css
  index.html
Labels: 🎨Html&css

#44 [생성] 버블 말풍선 마크업 및 css 완성
  bubble/bubble.css
  bubble/bubble.html
  css/fontello.css
  css/module.css
  css/reset.css
  index.html
Labels: 🎨Html&css

#53 [23.02.06] 제품 상세페이지 마크업, 스타일링 수정 (Karly's Check Point) #52
  css/productDetail.css
  css/reset.css
  productDetail.html
Labels: 🎨Html&css

#51 [수정] 아이콘 경로 수정 및 reset.css 폰트 설정 변경 #50
  css/footer.css
  css/reset.css
  index.html
Labels: 🐞Bugfix, 🎨Html&css

#58 [수정] header 마크업 수정 및 스타일 작업과 js 동적기능 구현 추가 #47
  client/assets/icons/icon/Cart-pc.svg
  client/assets/icons/icon/Heart-pc.svg
  client/assets/icons/icon/Location-pc.svg
  css/fontello.css
  css/header.css
  css/module.css
  css/style.css
  header.html
  header.js
  index.html
Labels: ✨Feature, 🎨Html&css

#60 [추가] css 작업 및 html 수정 및 이미지 아이콘 추가
  client/assets/icons/Button/Vector.svg
  client/assets/icons/icon/Direction=Down.svg
  client/assets/icons/icon/Direction=Right.svg
  client/assets/icons/icon/Direction=Up.svg
  client/assets/icons/icon/Frame.svg
  client/assets/icons/icon/Per.svg
  client/assets/icons/icon/Perper.svg
  client/assets/icons/icon/Vector.svg
  client/assets/icons/input/Group-true.svg
  client/assets/icons/input/Group.svg
  client/assets/icons/input/isChecked=false.svg
  css/fontello.css
  css/module.css
  css/productList.css
  css/reset.css
  css/style.css
  product-list.css
  product-list.html
  productList.html
Labels: 🎨Html&css

#63 [수정] css 클래스명 수정
  css/productList.css
  productList.html
Labels: 🎨Html&css

#66 top-banner 닫기동작 등의 header작업 #61
  css/header.css
  css/style.css
  header.js
  index.html
Labels: ✨Feature, 🎨Html&css

#69 [생성] 상품리스트 자바스크립트파일 생성
  productList.js
Labels: ✨Feature

#71 [추가] 메인페이지 html,css 수정 및 javascript 작업 #64
  client/assets/icons/icon/arrow2-1.svg
  client/lib/dom/attr.js
  client/lib/dom/bindEvent.js
  client/lib/dom/clearContents.js
  client/lib/dom/controlElement.js
  client/lib/dom/css.js
  client/lib/dom/getInputValue.js
  client/lib/dom/getNode.js
  client/lib/dom/index.js
  client/lib/dom/insert.js
  client/lib/dom/showAlert.js
  client/lib/error/index.js
  client/lib/error/refError.js
  client/lib/error/syntaxError.js
  client/lib/error/typeError.js
  client/lib/index.js
  client/lib/math/getRandom.js
  client/lib/math/index.js
  client/lib/math/sum.js
  client/lib/utils/copy.js
  client/lib/utils/delay.js
  client/lib/utils/index.js
  client/lib/utils/memo.js
  client/lib/utils/storage.js
  client/lib/utils/tiger.js
  client/lib/utils/typeOf.js
  client/lib/utils/xhr.js
  css/main.css
  css/reset.css
  css/style.css
  index.html
  js/main.js
  js/modal.js
  js/swiper.js
  server/db/data.json
  server/db/user.json
Labels: ✨Feature, 🎨Html&css

#72 [수정] 회원가입에 필요한 함수 구현 #56 #65
  client/css/fontello.css
  client/css/main.css
  client/css/module.css
  client/css/normalize.css
  client/css/reset.css
  client/css/style.css
  client/lib/dom/attr.js
  client/lib/dom/bindEvent.js
  client/lib/dom/clearContents.js
  client/lib/dom/controlElement.js
  client/lib/dom/css.js
  client/lib/dom/getInputValue.js
  client/lib/dom/getNode.js
  client/lib/dom/index.js
  client/lib/dom/insert.js
  client/lib/dom/showAlert.js
  client/lib/error/index.js
  client/lib/error/refError.js
  client/lib/error/syntaxError.js
  client/lib/error/typeError.js
  client/lib/index.js
  client/lib/math/getRandom.js
  client/lib/math/index.js
  client/lib/math/sum.js
  client/lib/register/checkEmail.js
  client/lib/register/checkInput.js
  client/lib/register/checkbox.js
  client/lib/register/index.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/lib/utils/copy.js
  client/lib/utils/delay.js
  client/lib/utils/index.js
  client/lib/utils/memo.js
  client/lib/utils/storage.js
  client/lib/utils/tiger.js
  client/lib/utils/typeOf.js
  client/lib/utils/xhr.js
  client/login/login.css
  client/login/login.html
  client/main.js
  client/register/register.css
  client/register/register.html
  index.html
  package-lock.json
  package.json
  register.html
  server/db/data.json
  server/db/user.json
Labels: 🐞Bugfix, ✨Feature

#73 [병합] bubble > main 브랜치 병합
  bubble/bubble.css
  bubble/bubble.html
  css/fontello.css
  css/module.css
  index.html
Labels: ⚙️Setting

#74 [병합] header-and-footer > main 브랜치 병합
  client/assets/icons/icon/Cart-pc.svg
  client/assets/icons/icon/Category.svg
  client/assets/icons/icon/Category.svg:Zone.Identifier
  client/assets/icons/icon/Heart-pc.svg
  client/assets/icons/icon/Icon_down-1.svg
  client/assets/icons/icon/Icon_down-1.svg:Zone.Identifier
  client/assets/icons/icon/Location-pc.svg
  client/assets/icons/icon/Logo.svg
  client/assets/icons/icon/Logo.svg:Zone.Identifier
  client/assets/icons/icon/Logo_isms.svg
  client/assets/icons/icon/Logo_privacy.svg
  client/assets/icons/icon/Logo_tosspayments.svg
  client/assets/icons/icon/Logo_tosspayments.svg:Zone.Identifier
  client/assets/icons/icon/Logo_wooriBank.svg
  client/assets/icons/icon/Logo_wooriBank.svg:Zone.Identifier
  client/assets/icons/icon/New-1.svg
  css/.prettierrc
  css/fontello.css
  css/footer.css
  css/header.css
  css/module.css
  css/style.css
  header.html
  header.js
  index.html
Labels: ⚙️Setting

#75 [병합] productDetail > main 브랜치 병합
  client/assets/icons/Icon/Answer.svg
  client/assets/icons/Icon/Arrow-left.svg
  client/assets/icons/Icon/Arrow-right.svg
  client/assets/icons/Icon/Arrow.svg
  client/assets/icons/Icon/ArrowCircle.svg
  client/assets/icons/Icon/ArrowRight.svg
  client/assets/icons/Icon/Bell.svg
  client/assets/icons/Icon/Blog.svg
  client/assets/icons/Icon/Cancel.svg
  client/assets/icons/Icon/Cart.svg
  client/assets/icons/Icon/CartCircle.svg
  client/assets/icons/Icon/Close.svg
  client/assets/icons/Icon/FaceBook.svg
  client/assets/icons/Icon/Food.svg
  client/assets/icons/Icon/GoToTop.svg
  client/assets/icons/Icon/Hamburger.svg
  client/assets/icons/Icon/Heart.svg
  client/assets/icons/Icon/Instagram.svg
  client/assets/icons/Icon/Location.svg
  client/assets/icons/Icon/Lock.svg
  client/assets/icons/Icon/MenuIcon.svg
  client/assets/icons/Icon/Minus.svg
  client/assets/icons/Icon/NaverPost.svg
  client/assets/icons/Icon/Notice.svg
  client/assets/icons/Icon/Perper.svg
  client/assets/icons/Icon/Plus.svg
  client/assets/icons/Icon/Question.svg
  client/assets/icons/Icon/Search.svg
  client/assets/icons/Icon/Squre.svg
  client/assets/icons/Icon/Time.svg
  client/assets/icons/Icon/Youtube.svg
  client/assets/icons/Icon/arrow2-1.svg
  client/assets/icons/Icon/redHeart.svg
  css/header.css
  css/module.css
  css/productDetail.css
  header.js
  product-list.css
  productDetail.html
  productDetail.js
Labels: ⚙️Setting

#76 [병합] productList > main 브랜치 병합
  client/assets/icons/Button/Vector.svg
  client/assets/icons/icon/Direction=Down.svg
  client/assets/icons/icon/Direction=Right.svg
  client/assets/icons/icon/Direction=Up.svg
  client/assets/icons/icon/Frame.svg
  client/assets/icons/icon/Vector.svg
  client/assets/icons/input/Group-true.svg
  client/assets/icons/input/Group.svg
  client/assets/icons/input/isChecked=false.svg
  css/fontello.css
  css/module.css
  css/productList.css
  productList.html
  productList.js
Labels: ⚙️Setting

#79 [수정] 로그인 패이지에서 회원가입 페이지 이동 경로 수정
  client/login/login.html
Labels: ⚙️Setting

#81 [수정] 머지 후 폴더 정리
  client/css/style.css
  client/index/footer.css
  client/index/header.css
  client/index/header.html
  client/index/header.js
  client/index/index.html
  client/index/main.css
  client/index/main.js
  client/index/modal.js
  client/index/swiper.js
  client/productDetail/productDetail.css
  client/productDetail/productDetail.html
  client/productDetail/productDetail.js
  client/productList/productList.css
  client/productList/productList.html
  client/productList/productList.js
  client/register/register.html
  client/register/register.js
  css/.prettierrc
  css/module.css
  productList.html
Labels: ⚙️Setting

#83 [수정] JSON server 관련 세팅 #82
  client/index/bubble/bubble.css
  client/index/bubble/bubble.html
  client/lib/utils/index.js
  client/lib/utils/tiger.js
  client/lib/utils/user.js
  package-lock.json
  package.json
  server/db/index.js
  server/db/user.json
  server/db/users.json
  server/index.js
Labels: ✨Feature

#90 [수정] merge 후 레이아웃 깨짐현상과 이미지 경로 등 수정 및 보완
  client/css/style.css
  client/index/header.css
  client/index/header.html
  client/index/index.html
  client/index/main.js
  css/style.css
Labels: 🐞Bugfix

#91 [수정] 회원가입 기능 구현 완성 #82
  client/lib/register/checkEmail.js
  client/lib/register/checkbox.js
  client/lib/register/createUser.js
  client/lib/register/index.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/lib/utils/memo.js
  client/register/register.html
  client/register/register.js
  package.json
  server/db/data.json
  server/db/index.js
  server/db/users.json
Labels: ✨Feature

#96 [추가] 반응형 헤더 스타일 및 카테고리 리스트 작업
  client/assets/icons/Button/Vector.svg
  client/assets/icons/icon/Category.svg:Zone.Identifier
  client/assets/icons/icon/Direction=Down.svg
  client/assets/icons/icon/Direction=Right.svg
  client/assets/icons/icon/Direction=Up.svg
  client/assets/icons/icon/Frame.svg
  client/assets/icons/icon/Icon_down-1.svg:Zone.Identifier
  client/assets/icons/icon/Logo.svg:Zone.Identifier
  client/assets/icons/icon/Logo_tosspayments.svg:Zone.Identifier
  client/assets/icons/icon/Logo_wooriBank.svg:Zone.Identifier
  client/assets/icons/icon/MenuIcon.svg
  client/assets/icons/icon/Search-bk.svg
  client/assets/icons/icon/Vector.svg
  client/assets/icons/icon/redHeart.svg
  client/assets/icons/input/Group-true.svg
  client/assets/icons/input/Group.svg
  client/assets/icons/input/isChecked=false.svg
  client/css/fontello.css
  client/css/module.css
  client/css/normalize.css
  client/css/reset.css
  client/css/style.css
  client/index/footer.css
  client/index/header.css
  client/index/header.html
  client/index/header.js
  client/index/index.html
  client/index/main.css
  client/index/main.js
  client/index/modal.js
  client/index/swiper.js
  client/lib/index.js
  client/lib/register/checkEmail.js
  client/lib/register/checkInput.js
  client/lib/register/checkbox.js
  client/lib/register/index.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/login/login.css
  client/login/login.html
  client/productDetail/productDetail.css
  client/productDetail/productDetail.html
  client/productDetail/productDetail.js
  client/productList/productList.css
  client/productList/productList.html
  client/productList/productList.js
  client/register/register.css
  client/register/register.html
  client/register/register.js
  css/.prettierrc
  css/header.css
  css/style.css
  header.js
  index.html
  package-lock.json
  package.json
  product-list.css
  productList.html
  register.html
Labels: ✨Feature, 🎨Html&css

#97 [수정] reigster 함수 일부 수정 및 data.json 수정 #92
  client/register/register.html
  client/register/register.js
  server/db/data.json
Labels: ✨Feature

#98 Product
  client/assets/icons/icon/arrow2-1.svg
  client/index/bubble/bubble.css
  client/index/bubble/bubble.html
  client/index/main.css
  client/index/main.js
  client/index/mainPage.html
  client/index/modal.js
  client/index/recentProduct.js
  client/index/swiper.js
  client/lib/utils/index.js
  client/lib/utils/tiger.js
  package-lock.json
  package.json
  server/db/data.json
  server/db/index.js
  server/db/user.json
  server/db/users.json
  server/index.js
Labels: ✨Feature

#101 [병합] localStorage > main 브랜치 병합
  client/index/bubble/bubble.css
  client/index/bubble/bubble.html
  client/lib/register/checkEmail.js
  client/lib/register/checkbox.js
  client/lib/register/createUser.js
  client/lib/register/index.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/lib/utils/index.js
  client/lib/utils/memo.js
  client/lib/utils/tiger.js
  client/lib/utils/user.js
  client/register/register.html
  client/register/register.js
  package-lock.json
  package.json
  server/db/data.json
  server/db/user.json
  server/index.js
Labels: ⚙️Setting

#103 [병합] productDetail > main 브랜치 병합
  client/assets/images/goods_point.svg
  client/assets/images/goods_view.svg
  client/assets/images/product_detail.svg
  client/css/reset.css
  client/index/bubble/bubble.css
  client/productDetail/productDetail.css
  client/productDetail/productDetail.html
  client/productDetail/productDetail.js
Labels: ⚙️Setting

#104 [수정] 장바구미 페이지 마크업 및 스탕일링 완료 #105
  cart.html
  client/cart/cart.css
  client/cart/cart.html
  client/css/module.css
  client/css/normalize.css
  client/css/reset.css
  client/css/style.css
  client/lib/dom/attr.js
  client/lib/dom/bindEvent.js
  client/lib/dom/clearContents.js
  client/lib/dom/controlElement.js
  client/lib/dom/css.js
  client/lib/dom/getInputValue.js
  client/lib/dom/getNode.js
  client/lib/dom/index.js
  client/lib/dom/insert.js
  client/lib/dom/showAlert.js
  client/lib/error/index.js
  client/lib/error/refError.js
  client/lib/error/syntaxError.js
  client/lib/error/typeError.js
  client/lib/index.js
  client/lib/math/getRandom.js
  client/lib/math/index.js
  client/lib/math/sum.js
  client/lib/utils/copy.js
  client/lib/utils/delay.js
  client/lib/utils/index.js
  client/lib/utils/memo.js
  client/lib/utils/storage.js
  client/lib/utils/tiger.js
  client/lib/utils/typeOf.js
  client/lib/utils/xhr.js
  css/cart.css
  css/productDetail2.css
  index.html
  login.html
  product-list.css
  product-list.html
  productDetail2.html
  register.html
  server/db/data.json
Labels: 🎨Html&css, 🥰Accessibility

#107 병합 작업
  client/index/footer.css
  client/index/header.css
  client/index/header.js
  client/index/main.css
  client/index/mainPage.html
  client/lib/register/checkEmail.js
  client/lib/register/checkbox.js
  client/lib/register/createUser.js
  client/lib/register/index.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/lib/utils/memo.js
  client/login/login.html
  client/productDetail/productDetail.css
  client/productDetail/productDetail.html
  client/productDetail/productDetail.js
  client/productList/productList.css
  client/productList/productList.html
  client/register/register.css
  client/register/register.html
  client/register/register.js
Labels: ⚙️Setting, ✅Test

#112 [병합] fix > main 으로 병합
  client/index/bubble/bubble.css
  client/index/footer.css
  client/index/main.css
  client/index/main.js
  client/index/mainPage.html
  client/index/modal.js
  client/index/recentProduct.js
  client/index/swiper.js
  client/lib/register/checkbox.js
  client/lib/register/createUser.js
  client/lib/register/makeRandom.js
  client/lib/register/validPw.js
  client/lib/utils/tiger.js
  client/lib/utils/user.js
  client/login/login.html
  client/productDetail/productDetail.html
  client/productList/productList.css
  client/productList/productList.html
  client/register/register.css
  client/register/register.html
  package.json
  server/db/data.json
  server/db/index.js
  server/db/users.json
Labels: ⚙️Setting, ✅Test

#113 [수정] 병합 시 생긴 이슈들 수정
  client/index/css/style.css
  client/index/index.html
  client/index/main.css
  client/index/main.js
  client/index/mainPage.html
  server/db/data.json
  server/db/index.js
  server/db/users.json
Labels: ⚙️Setting
